body{
    background-image: url(IMG/juntas.png);
    font: 16px Arial, Helvetica, Sans-serif;
    color: #ffffff;
}    

#principal{
    
    width: 900px;
    margin: auto;
    
    
}

#menu {
    background: #ffffff;
    color: crimson ;
    padding: 18px;
    text-align: center;
    
}

a {
    color: crimson;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

#conteudo{
    background: #137c9cde;
    padding: 10px;
    
    
}

#rodapé{
    text-align: center;
    background-color: crimson;
    padding: 2px;
    color: aliceblue;
}

h1 {
    color: #ffffff;
    font-size: 1.2;
}

.img-campanha{
    border: 10px solid #c3c3ae;
   
    
}

#whats {
    float: right;
    display: block;
    color: #ffffff;
    
 }

 #contato{
    text-align: center;
 }

 